/*Master CSS*/

/*FONT IMPORT*/

@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');
/*Global override*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Font Control*/

body {
  color: #26485a;
  background-color: #0e597f;
  font-size: 1.1em;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 .logo {
  font-family: 'Lato', Helvetica, "Arial Black", sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 2em;
  line-height: 1.5em;
}

h2 {
  font-size: 1.6em;
  line-height: 1.6em;
}

h3 {
  font-size: 1.4em;
  line-height: 1.4em;
  padding-top: .5em;
}

p {
  line-height: 1.6em;
  padding-bottom: .5em;
}

label {
  font-size: 1em;
}

a {

}

/*END OF FONT CONTROL*/

/*General*/

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  width: 100%;
}

.cta, input[type=submit] {
  margin-top: 1em;
  font-weight: 300;
  text-decoration: none;
  background-color: #65a8cc;
  box-shadow:
    1px 0px 0px #0d587f,0px 1px 0px #0d587f,
    2px 1px 0px #0d587f,1px 2px 0px #0d587f,
    3px 2px 0px #0d587f,2px 3px 0px #0d587f,
    4px 3px 0px #0d587f,3px 4px 0px #0d587f,
    5px 4px 0px #0d587f,4px 5px 0px #0d587f,
    6px 5px 0px #0d587f,5px 6px 0px #0d587f,
    7px 6px 0px #0d587f;

  color: #fff;
  padding: .6em 2em;
  display: inline-block;
  border-radius: 10px;
  text-shadow: 2px 2px 0px 2px rgba(0,0,0,0.5);
  font-size: 1.1em;
}

.headerbar {
  width: 100%;
  background-color: #0e597f;
}

.headerbar h2, .headerbar p{
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 16px;
}

/*End of General*/

/*HEADER*/

header{
  color: #fff;
  overflow: auto;
}

.logo{
  font-size: 2em;
  line-height: 1.5em;
  display: inline-block;
  padding-left: 16px;
  padding-bottom: 0;
}
nav{
  float: right;

}

nav a {
  padding: 1em;
  line-height: 1.5em;
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

nav a:hover {
  background-color: #65a8cc;
  color: #ddf3ff;
}

/*END OF HEADER*/

/*MAIN*/

/*MAIN GENERAL*/

main {
  background-color: #fff;
}

h2 {
  color: #fff;
  padding: 16px 0px;
}


/*END OF MAIN GENERAL*/

/*INTRO*/

#intro{
  background-color: #ddd;
  position: relative;
  overflow: auto;
}

#intro .wrapper{
  padding: 3em 1em;
  overflow: auto;
  position: relative;
}

#intro img{
  width: 30%;
  margin-right: 5%;

  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#intro div div{
  width: 60%;
  float: right;

}

#intro h1{
  margin-bottom: 5%;
}

#intro p{
  /*margin-bottom: 5%;*/
}



/*END OF INTRO*/

/*EXAMPLES*/
#examples .wrapper{
  padding: 8px 16px 8px 16px ;
  overflow: auto;
}
#examples  .wrapper:first-child{
  padding-top: 16px;
}

#examples .wrapper:last-child{
  padding-bottom: 16px;
}

#examples .wrapper img{
  width: 45%;
  float: left;
}
#examples .wrapper div{
  margin-left: 50%;
}

#examples section{
  border-bottom: 10px dotted #0e597f;
}
#examples section:last-child{
  border-bottom: none;
}

/*#examples section:nth-child(odd){
  background-color: #eee;
}
#examples section:nth-child(even){
  background-color: #ddd;
}*/



/*END OF EXAMPLES*/


/*ABOUT*/
#about .wrapper{
  padding: 16px 16px 24px 16px;
  overflow: auto;
}


#about .wrapper img{
  width: 45%;
  float: left;
}
#about .wrapper div{
  margin-left: 50%;
}
/*END OF ABOUT*/

/*CONTACT*/



/*FORM*/

#contact .wrapper{
  padding: 16px;
  overflow: auto;
}

#contact p{
  width: 30em;
}




form {
  padding-top: 1em;
}

label {
  display: block;
  width: 5em;
  font-size: 1em;
}

label, input, textarea {
  margin-bottom: .1em;
}

input, textarea {
  padding: 1em;
  width: 30em;
  border: 1px solid #0d587f;
}

input:focus, textarea:focus{
  outline-color: ddf3ff;
}

input {
  height: 1.7em;
}

textarea {
  vertical-align: top;
}

input[type=submit] {
  border: none;
  height: inherit;
  width: inherit;
}

/*FORM*/

/*END OF CONTACT*/

/*FOOTER*/

footer p {
  color: #fff;
  padding: 16px ;
}

/*END OF FOOTER */
